.booking-form {
  width: 350px;
  height: 259px;
  height: auto;
  margin: 20px auto;
  border: solid 1px grey;
  background-color: white;
  border-radius: 7px;
}
.form-btn-submit {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding-bottom: 15px;
}

