// Specific CSS for your home-page
.current-user {
  text-align: center;
  margin-top: 25px;

}

.current-user h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
}

.border-top {
  border-top: 5px solid #a57a7aa6 !important;
  width: 90px;
  margin: auto;
}
