// Specific CSS for your home-page
.current-user {
  text-align: center;
  padding: 55px;
}

.current-user h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  color: white;
  padding: 15px;
}

.border-top {
  border-top: 5px solid #ffffffb3 !important;
  width: 90px;
  margin: auto;
}

.banner-container p {
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-left: 50px;
  // font-weight: bold;
  font-size: 20px;
}

.container-all {
  height: 200vh;
}

.banner-info-boat h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 25px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.banner-info-boat {
  height: 50px;
}

.container-cards {
  width: 900px;
  margin: auto;
}

.cards {
  // background-color: green;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 55px;
}

.card {
  height: 300px;
  width: 250px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}

.container-cards h2 {
  font-family: 'Anton', sans-serif;
  font-size: 70px;
  color: #a57a7a;
  margin-bottom: 20px;
}

.container-cards h4 {
  margin-bottom: -15px;
}

.border-bottom-card {
  border-bottom: 5px solid grey;
  width: 50px;
  margin: auto;
}

.border-bottom-info-boat {
  border-bottom: 9px solid grey;
  width: 70px;
  margin: auto;
}













