$gray: #F4F4F4;
$spacer: 8px;

body {
  background: $gray; // Using this variable
}

.container-boats {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}


.grid_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 22px;
    width: 100%;
}

.card-trip h2 {
  font-weight: bold;
}

.boat-img {
 text-align: center;
 border-radius: 4px;
}

.new-booking a {
  color: white;
  text-decoration: none;
}

.btn-boats {
margin-bottom: 4px;
top: 8px;
bottom: 8px;
right: 8px;
color: white;
background: #700a0a9e;
padding: 8px 8px;
border-radius: 8px;
font-weight: bold;
margin-left: 6px;
}

.new-boat a {
  color: white;
  text-decoration: none;
}