<div class="container-all">

  <div class="banner-container">
    <div class="current-user">
    <% if user_signed_in?%>
      <h1>Hello <%= current_user.first_name.capitalize %> !</h1>
    <% else %>
      <h1>Welcome to YachtBnb</h1>
    <% end %>
      <div class="border-top"></div>
    </div>

    <p>Partez en <strong>croisière</strong> sur le yacht de vos rèves...</p>
    <div class="btn btn-banner">
    <%= link_to boats_path do %>
      <h3>Découvrir les bateaux à proximité</h3>
    <% end %>
    </div>
  </div>

  <div class="banner-info-boat">
    <h2>COMMENT CA FONCTIONNE?</h2>
    <div class="border-bottom-info-boat"></div>
  </div>

  <div class="container-cards">
    <div class="cards">
      <div class="card">
        <h2>1</h2>
        <h4>Je recherche!</h4>
        <div class="border-bottom-card"></div>
        <p>Je cherche le yatch qui correspond à tous mes critères</p>
      </div>
      <div class="card">
        <h2>2</h2>
        <h4>Je réserve!</h4>
        <div class="border-bottom-card"></div>
        <p>J'envoie une demande de reservation pour une période</p>
      </div>
      <div class="card">
        <h2>3</h2>
        <h4>Je profite!</h4>
        <div class="border-bottom-card"></div>
        <p>Ma demande est acceptée, je peux profiter de mon séjour!</p>
      </div>
    </div>
  </div>

</div>
