.banner-container {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/271681/pexels-photo-271681.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  height: 400px;
  background-size: cover;
  margin: auto;
  margin-top: -46px;
  /* width: 700px; */
  // filter: grayscale(75%);
}
